
/* set all fonts in the page to sans-serif*/
body{
	background-color: #eeece6;
	font-family: sans-serif;, Arial;
		
}

/* make the header bigger on the page */
header{
	font-weight: 500;
	padding: 0px;
	background-color: #403934;
	color: white;
	margin: 0px;
	
}
h1{
	text-align: center;
	font-size: 40px;
}

 h2{
	text-align: center;
	font-size: 20px;
	
}


img{
	width: 400px;
	height: 400;
	
}

footer{
	font-weight: 500;
	padding: 0px;
	background-color: #403934;
	color: white;
	

}

p{
	font-size: 15px;
}
/* make the horizontal line in the middle of the page*/ 
hr{
	width: 50%;
	justify-content: center;
}

/* everything that include set-center class will be displayed in the middle */
.set-center{
	display: flex;
	justify-content: center;
}
